<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blood_a/blood_a_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,-6}</string>
                <key>spriteSize</key>
                <string>{102,84}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{251,721},{102,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blood_a/blood_a_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,-13}</string>
                <key>spriteSize</key>
                <string>{120,110}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{139,727},{120,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blood_a/blood_a_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{49,-12}</string>
                <key>spriteSize</key>
                <string>{136,128}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,741},{136,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blood_a/blood_a_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{53,-14}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,455},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blood_a/blood_a_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,-17}</string>
                <key>spriteSize</key>
                <string>{138,148}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{147,329},{138,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blood_a/blood_a_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,-22}</string>
                <key>spriteSize</key>
                <string>{140,154}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{353,159},{140,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blood_b/blood_b_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,-3}</string>
                <key>spriteSize</key>
                <string>{116,42}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{297,329},{116,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blood_b/blood_b_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,-1}</string>
                <key>spriteSize</key>
                <string>{136,56}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{445,475},{136,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blood_b/blood_b_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,0}</string>
                <key>spriteSize</key>
                <string>{142,62}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{339,691},{142,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blood_b/blood_b_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,0}</string>
                <key>spriteSize</key>
                <string>{142,68}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{417,613},{142,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blood_b/blood_b_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{53,0}</string>
                <key>spriteSize</key>
                <string>{148,72}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{295,475},{148,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blood_b/blood_b_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{57,-2}</string>
                <key>spriteSize</key>
                <string>{140,76}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{339,549},{140,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blood_c/blood_c_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,18}</string>
                <key>spriteSize</key>
                <string>{108,94}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{403,757},{108,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blood_c/blood_c_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,28}</string>
                <key>spriteSize</key>
                <string>{126,110}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{127,599},{126,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blood_c/blood_c_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,35}</string>
                <key>spriteSize</key>
                <string>{142,124}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,597},{142,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blood_c/blood_c_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,32}</string>
                <key>spriteSize</key>
                <string>{150,128}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{143,469},{150,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blood_c/blood_c_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,29}</string>
                <key>spriteSize</key>
                <string>{152,138}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,171},{152,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blood_c/blood_c_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,24}</string>
                <key>spriteSize</key>
                <string>{156,146}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{353,1},{156,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blood_d/blood_d_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{120,98}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{239,599},{120,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blood_d/blood_d_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{142,144}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,311},{142,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blood_d/blood_d_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{158,152}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{345,315},{158,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blood_d/blood_d_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{166,160}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{177,167},{166,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blood_d/blood_d_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{174,164}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{177,1},{174,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blood_d/blood_d_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{174,168}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{174,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>blood.png</string>
            <key>size</key>
            <string>{502,870}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0222d0353a3544d3c87fde748e33adfb:6612aebb227f3a382f475d55e0d96235:ab4055c138d270fe3287eabd35406899$</string>
            <key>textureFileName</key>
            <string>blood.png</string>
        </dict>
    </dict>
</plist>
