<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FieldBattleBG.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{768,1024}</string>
                <key>spriteSourceSize</key>
                <string>{768,1024}</string>
                <key>textureRect</key>
                <string>{{1,1},{768,1024}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>airType.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1477,813},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buildings/keysmith.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,156}</string>
                <key>spriteSourceSize</key>
                <string>{156,156}</string>
                <key>textureRect</key>
                <string>{{1269,549},{156,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buildings/mine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,156}</string>
                <key>spriteSourceSize</key>
                <string>{156,156}</string>
                <key>textureRect</key>
                <string>{{1427,549},{156,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cast.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1537,813},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cooldown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1775,807},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>earthType.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1715,807},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireType.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1571,831},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldProgressBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,22}</string>
                <key>spriteSourceSize</key>
                <string>{158,22}</string>
                <key>textureRect</key>
                <string>{{1873,223},{158,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goldProgressBarBk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,30}</string>
                <key>spriteSourceSize</key>
                <string>{168,30}</string>
                <key>textureRect</key>
                <string>{{1269,735},{168,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>key.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{116,104}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1551,441},{116,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>marker0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1913,1},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moveTile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1669,441},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nothing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{1921,783},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>occAvailable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1439,735},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>occupied.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{22,26}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1821,701},{22,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portraits/Alee.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{1845,571},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portraits/Dilly.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{1845,677},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portraits/Lefty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{1479,707},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portraits/Untitled-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,2}</string>
                <key>spriteSize</key>
                <string>{438,844}</string>
                <key>spriteSourceSize</key>
                <string>{512,1024}</string>
                <key>textureRect</key>
                <string>{{1027,1},{438,844}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>portraits/Zom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{1715,701},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portraits/placeholder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{1821,783},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progressBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,26}</string>
                <key>spriteSourceSize</key>
                <string>{208,26}</string>
                <key>textureRect</key>
                <string>{{1269,707},{208,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progressBarBk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,38}</string>
                <key>spriteSourceSize</key>
                <string>{220,38}</string>
                <key>textureRect</key>
                <string>{{1873,1},{220,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>quiz/answer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{522,106}</string>
                <key>spriteSourceSize</key>
                <string>{552,136}</string>
                <key>textureRect</key>
                <string>{{1027,441},{522,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quiz/bevel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{538,122}</string>
                <key>spriteSourceSize</key>
                <string>{552,136}</string>
                <key>textureRect</key>
                <string>{{1,771},{538,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,124}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1037,769},{66,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>runes/commonRune.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{541,771},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>runes/eliteRune.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{665,771},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>runes/epicRune.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{789,771},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>runes/legendaryRune.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{913,771},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>runes/mythicRune.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1105,769},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>runes/rareRune.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1229,769},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>runes/shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1799,441},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>runes/uncommonRune.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1353,767},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>targetTile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1585,571},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>teleTile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1715,571},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>turnpointer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,20}</string>
                <key>spriteSourceSize</key>
                <string>{40,20}</string>
                <key>textureRect</key>
                <string>{{1477,873},{40,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>typeHighlight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1873,383},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vamp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,240}</string>
                <key>spriteSourceSize</key>
                <string>{240,240}</string>
                <key>textureRect</key>
                <string>{{1027,549},{218,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1913,35},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warnTile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1585,701},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>waterType.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1631,831},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>misc.png</string>
            <key>size</key>
            <string>{1950,894}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3692759b0ba6da5ac09456d15c9b1384:67cf2dbc49484019413846fbeb43f383:cab1e9b820256652e8f1a6751ae38988$</string>
            <key>textureFileName</key>
            <string>misc.png</string>
        </dict>
    </dict>
</plist>
