<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FieldBattleBG.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{768,1024}</string>
                <key>spriteSourceSize</key>
                <string>{768,1024}</string>
                <key>textureRect</key>
                <string>{{1,441},{768,1024}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>airType.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{771,567},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buildings/keysmith.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,156}</string>
                <key>spriteSourceSize</key>
                <string>{156,156}</string>
                <key>textureRect</key>
                <string>{{839,521},{156,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buildings/mine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,156}</string>
                <key>spriteSourceSize</key>
                <string>{156,156}</string>
                <key>textureRect</key>
                <string>{{771,815},{156,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cast.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{831,711},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cooldown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{865,711},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>earthType.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{771,627},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireType.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{771,687},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldProgressBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,22}</string>
                <key>spriteSourceSize</key>
                <string>{158,22}</string>
                <key>textureRect</key>
                <string>{{977,1},{158,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goldProgressBarBk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,30}</string>
                <key>spriteSourceSize</key>
                <string>{168,30}</string>
                <key>textureRect</key>
                <string>{{831,679},{168,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>key.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{116,104}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{895,1103},{116,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>marker0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{899,711},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moveTile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{847,1},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nothing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{995,231},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>occAvailable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{977,231},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>occupied.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{22,26}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{977,161},{22,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portraits/Alee.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{895,1221},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portraits/Dilly.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{895,1327},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portraits/Lefty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{895,1433},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portraits/Untitled-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,2}</string>
                <key>spriteSize</key>
                <string>{438,844}</string>
                <key>spriteSourceSize</key>
                <string>{512,1024}</string>
                <key>textureRect</key>
                <string>{{1,1},{438,844}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>portraits/Zom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{895,1539},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>portraits/placeholder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{901,973},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progressBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,26}</string>
                <key>spriteSourceSize</key>
                <string>{208,26}</string>
                <key>textureRect</key>
                <string>{{771,787},{208,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progressBarBk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,38}</string>
                <key>spriteSourceSize</key>
                <string>{220,38}</string>
                <key>textureRect</key>
                <string>{{771,747},{220,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quiz/answer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{522,106}</string>
                <key>spriteSourceSize</key>
                <string>{552,136}</string>
                <key>textureRect</key>
                <string>{{125,1467},{522,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quiz/bevel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{538,122}</string>
                <key>spriteSourceSize</key>
                <string>{552,136}</string>
                <key>textureRect</key>
                <string>{{771,1103},{538,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,124}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{771,441},{66,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>runes/commonRune.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,1467},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>runes/eliteRune.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,1591},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>runes/epicRune.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{125,1575},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>runes/legendaryRune.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{249,1575},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>runes/mythicRune.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{373,1575},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>runes/rareRune.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{497,1575},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>runes/shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{847,131},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>runes/uncommonRune.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{621,1575},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>targetTile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{847,261},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>teleTile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{847,391},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>turnpointer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,20}</string>
                <key>spriteSourceSize</key>
                <string>{40,20}</string>
                <key>textureRect</key>
                <string>{{977,189},{40,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>typeHighlight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{929,875},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{933,711},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warnTile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{771,973},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>waterType.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{929,815},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>misc.png</string>
            <key>size</key>
            <string>{1000,1714}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ab1dae7d28f44af187e6332593bdd53:b000871cc494dd281d3cc30f0595ce5b:cab1e9b820256652e8f1a6751ae38988$</string>
            <key>textureFileName</key>
            <string>misc.png</string>
        </dict>
    </dict>
</plist>
